<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">{{ title }}</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/heroes" routerLinkActive="active">Heroes</a></li>

      </ul>

      <!-- <form class="navbar-form navbar-right">
        <div class="form-group">
          <hero-search></hero-search>
        </div>
      </form> -->

    </div>
  </div>
</nav>

<!--<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
</nav>-->
<router-outlet></router-outlet>
